.App {
  text-align: center;

}

.form-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 45px;
  margin: auto;
  background-color: crimson;
  color: seashell;

  width: 400px;
  padding: 15px;
}

.form-fields>input {
  padding: 10px;
  border-radius: 10px;
}

.submit-input {
  background-color: blueviolet;
  color: seashell;
  padding: 15px;
  border-radius: 15px;
}